*{
    box-sizing: border-box;
    font-family: 'Helvetica';
	font-size: 16px;
}


header{
    align-items: center;
}

.titulo{
    text-align: center;
    background: #000;
    color: #fff;
    padding: 10px 0;
}

.container{
    max-width: 700px;
    margin: auto;
    padding: 20px;
    text-align: center;
}

section{
    /* background-color: rgb(204, 197, 197); */
    /* background-size: 25% 50%; */
    border: 0px solid #29272e;
    border-radius: 7px;
    /*padding: 60% 5%;*/
	padding: 20% 5% 70% 5%;
    margin: 10px 0;
}

.pregunta{
    font-size: 25px;
    color: rgb(255, 255, 255);
    background-color: rgba(255, 57, 57);
    border-radius: 7px;
    border: 1px solid rgb(48, 48, 48);
    padding: 7px;
}

.imgPregunta{width:80%;
max-width: 600px;  }

label{
    font-weight: bold;
    font-size: 1.2rem;
    background-color: #fff;
    display: block;
    padding: 7px;
    border-radius: 1px;
    cursor: pointer;
    /**border: 1px solid rgb(255, 57, 57);**/
	/**border: 10px solid rgb(204, 197, 197);**/
	border: 5px solid rgba(225,225,225,1.00);
    margin-bottom: 3px;
}

label:hover{
    background: #5769d3be;
}

.redondo{
    font-weight: bold;
    font-size: 20px;
    background-color: rgba(255, 57, 57);
    display: block;
    width: 110px;
    height: 110px;
    border-radius: 50%;
}

.botonCerrar{
    font-weight: bold;
    font-size: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(255, 57, 57);
	background-color:#737473;
    position: absolute;
    right: 3%;
    top: 3%;
}


a{
    text-decoration: none;
}

button{
    font-size: 18px;
    color: #fff;
    width: 50%;
    display: block;
    margin: auto;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
	background-color: #000379;
}

.siguiente{
    
   
    width: 40%;
    display: block;
    margin: auto;
    padding: auto;

 
}

button:hover{
    background: #4459d4;
    color: #fff;
}



/** PEPE **/

.iso{max-width: 250px;
width: 50%;}


.botonPresioname{
max-width: 400px;
width: 70%;
}


header{ 
    position: sticky;
}


body {
    /*background-image:url("img_pp/background.jpg");*/
	background-size:     cover;                      /*<------*/
    background-repeat:   no-repeat;
    background-position: bottom center;              /* optional, center the image */
	margin:0px;  
}


.intro{/*background-image:url("img_pp/intro_foto.jpg");*/
	background-size: cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: bottom center;              /* optional, center the image */
	height: 100vh;
	/*min-height: 800px;*/
	margin:0px;
	/**height: 1200px;**/
    /*background-color:#FFFFFF ;*/
	min-height: fill-available;
    min-height: -webkit-fill-available;
	overflow: hidden;
}

top{
    background-color: #FFFFFF
}

.comenzar{
    margin-top: 10%;
    width: 50%;
}

.botonVeCualestucepa{
    margin-top: 2%;
    width: 70%;
}

.logo{
    margin-top: 10%;
	width: 60%;
	max-width: 472px;
	
}

.logo_modal{
    margin-top: 2%;
	width: 70%;
	max-width: 472px;
	
}
		


.cepas{
    position:absolute;
    /*left: 5%; esta es cuando está abajo*/
	left: 0px;
    bottom: 0px;
    width:100%;
	z-index: -2;}


.intro_foto_costado{
    position: absolute;
    right: 0;
	max-height: 50%;
	max-width: 50%;
    bottom: -7%;
	z-index: -1
}


/* Estilos ventana modal */

/*GIRAR PANTALLA*/
#modal_container29{ 
opacity: 0;
background-color: black;
}

#modal_29{
background-color: black;
}

.icono_girar{
max-width: 198px;
width: 70%
}
/*FIN GIRAR PANTALLA*/

.modal_container{
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    position: fixed;
   /*pointer-events: none; se lo saque porque no deja cliquear en campo de mails*/
	pointer-events: none;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    opacity: 0;
	/*cambiar valor a 0*/
}

.show{
    pointer-events: auto;
    opacity: 1;
    transition: opacity .8s;
}

.modal{
    background-color: #fff;
    width: 95%;
    height: 95%;
    max-width: 100%;
    padding: 10px 10px 50px;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    opacity: 1;
}

.modal h1{
    margin: 0;
}
/* FONDOS MODALES */
#modal_background_P0{background-image:url("img_pp/background2.jpg");
	background-size:     cover;                      /*<------*/
    background-repeat:   no-repeat;
    background-position: top center;              /* optional, center the image */
	margin:0px; 
    height: 92%;}

#modal_background_P1{background-image:url("img_pp/background3.jpg");
	background-size:     cover;                      /*<------*/
    background-repeat:   no-repeat;
    background-position: top center;              /* optional, center the image */
	margin:0px; 
    height: 92%;}

#modal_background_P2{background-image:url("img_pp/background4.jpg");
	background-size:     cover;                      /*<------*/
    background-repeat:   no-repeat;
    background-position: top center;              /* optional, center the image */
	margin:0px; 
    height: 92%;}

/* .botonEnviar{ */
    
    /*font-size:14px;
        font-family:Verdana,Helvetica;
        font-weight:bold;
        color:white;
        background:#638cb5;
        border:0px;
        width:80px;
        height:20px;*/
/* } */


/** CSS PREMIOS **/
.logoPremio{
    margin-top: 30px;
	width: 60%;
}
.botella_premio {    width:80%;
	max-height: 500px;
	max-width: 526px;

}
.maridaje{margin: auto;
width: 30%;
max-width: 50px;}

td{text-align:center;}
table{max-width: 50%;}

.kv_container{  /*background-image:url("img_botellas/fondo_cs.jpg");*/
	background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: top center;          /* optional, center the image */
	margin: auto; }

.kv_container p{max-width: 95%;
font-size: 1rem;
margin: 9px;
line-height : 1rem;}

.kv_container h2{padding: 0px;
margin: 0px;
font-size: 1.2rem;
line-height : 1.1rem;}



.kv_container strong{font-size: 0.6rem;}



/** SI ES QUE SE PONE HORIZONTAL  **/

@media only screen 
/* and (max-device-width: 800px) se lo agregué para evitar problemas con la tablet y el teclado) */
and (orientation: landscape){
	#modal_container29{ 
        opacity: 1;
	}
}

/** FIN SI ES QUE SE PONE HORIZONTAL **/


/** PANTALLAS MÁS ANTIGUAS*/
@media only screen 
and (orientation: portrait)  
and (min-device-width: 375px) 
and (max-device-width: 667px){ 
.botella_premio{
    width:60%;
	max-height: 420px;
	max-width: 442px;
    }
}


/** para tablet*/
@media only screen 
	and (orientation: portrait) 
	and (min-width: 768px){ 
}
		

label{
    font-size: 2rem;
}	
		
		
.kv_container p{
	max-width: 65%;
	font-size: 1.6rem;
	padding-bottom: 2rem;
	line-height : 1.6rem;
}

.kv_container h2{
	padding: 0px;
	padding-bottom: 2rem;
	max-width: 90%;
	margin: 0px;
	font-size: 3rem;
	line-height : 3rem;
}

.kv_container b{
    font-size: 1.6rem;
}

.maridaje{
	margin: auto;
	width: 30%;
	max-width: 80px;
}

.logo_modal{
    margin-top: 2%;
	width: 60%;
	max-width: 472px;
}


/** para tablet horizontal*/
@media only screen 
	and (orientation: landscape) 
	and (min-width: 768px){ 
		.icono_girar{
            padding-top: 20%; 
            max-width: 198px;
            width: 100%;
    }
}