*{
    box-sizing: border-box;
    font-family: 'Helvetica';
}

header{
    align-items: center;

}

.titulo{
    text-align: center;
    background: #000;
    color: #fff;
    padding: 10px 0;
}

.container{
    max-width: 700px;
    margin: auto;
    padding: 20px;
	
}

section{
    /* background-color: rgb(204, 197, 197); */
    /* background-size: 25% 50%; */
    border: 0px solid #29272e;
    border-radius: 7px;
    padding: 60% 5%;
    margin: 10px 0;
}

.pregunta{
    font-size: 25px;
    color: rgb(255, 255, 255);
    background-color: rgba(255, 57, 57);
    border-radius: 7px;
    border: 1px solid rgb(48, 48, 48);
    padding: 7px;
}


label{
    font-weight: bold;
    font-size: 20px;
    background-color: #fff;
    display: block;
    padding: 7px;
    border-radius: 7px;
    cursor: pointer;
    border: 1px solid rgb(255, 57, 57);
    margin-bottom: 3px;
}

label:hover{
    background: #5769d3be;
}

.redondo{
    font-weight: bold;
    font-size: 20px;
    background-color: rgba(255, 57, 57);
    display: block;
    width: 110px;
    height: 110px;
    border-radius: 50%;
}

a{
    text-decoration: none;
}

button{
    font-size: 18px;
    color: #fff;
    width: 50%;
    display: block;
    margin: auto;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}

button:hover{
    background: #4459d4;
    color: #fff;
}


/** PEPE **/
header{ 
    position: sticky;
}


body {
    background-image:url("img_pp/background.jpg");
	background-size:     cover;                      /*<------*/
    background-repeat:   no-repeat;
    background-position: top center;              /* optional, center the image */
	margin:0px;  
}


.intro{/*background-image:url("img_pp/intro_foto.jpg");*/
	background-size: cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: bottom center;              /* optional, center the image */
	height: 100vh;
	min-height: 800px;
	margin:0px;
	/**height: 1200px;**/
    /*background-color:#FFFFFF ;*/
}

top{
    background-color: #FFFFFF
}

.comenzar{
    margin-top: 10%;
    width: 50%;
}

.logo{
    margin-top: 10%
}

.cepas{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 90%
}


.intro_foto_costado{
    position: absolute;
    right: 0;
	max-height: 50%;
	max-width: 50%;
    bottom: 0;
}


/* Estilos ventana modal */

.modal_container{
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    opacity: 0;
}

.show{
    pointer-events: auto;
    opacity: 1;
}

.modal{
    background-color: #fff;
    width: 55%;
    height: 75%;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    opacity: 1;
}

.modal h1{
    margin: 0;
}

